.surv {
  display: none;
}

/* .lang {
  display: none;
} */
/* .show {
  display: none;
} */
#htm {
  display: none;
}
#cs {
  display: none;
}
#jsrpt {
  display: none;
}
#pol {
  display: none;
}
body {
  background-color: teal;
}
